*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    min-width: 850px;
    min-height: 100vh;
    background-color: #1b1b1b;
    color: #fafafa;
    overflow: auto;
}
#navbar{
    width: 100%;
    height: 70px;
    background-color: #111;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
}
#main{
    width: 100%;
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 20px;
    overflow-y: hidden;
}
.container{
    width: 90%;
    height: 100%;
    margin: auto;
}
#main > .container{
    width: 90%;
}
/* navbar-top */
.navbar-top{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;   
}
.logo{
    display: block;
    height: 40px;
    text-decoration: none;
    margin: 0 10px;
}
.logo > img{
    height: 40px;
}
.search-field{
    display: flex;
    align-items: center;
}
.search-btn{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #dc1a28;
    color: black;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.search-btn:hover{
    background-color: #dc1a2798;
}
.search-input{
    width: 220px;
    height: 40px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 0 5px;
    font-family: 'Poppins', sans-serif;
}
/* /navbar-top */
/* navbar-bottom */
.navbar-bottom{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
    text-transform: capitalize;
}
.navbar-bottom > li{
    margin: 0 10px;
}
.navbar-bottom > li:hover{
    color: #dc1a28;
    cursor: pointer;
}
/* /navbar-bottom */
/* main --> results*/
.search-results{
    width: 100%;
    height: 50px;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.template{
    width: 100%;
    height: 100%;
}
.template > h3{
    margin-left: 10px;
    text-transform: capitalize;
    font-size: 30px;
}
.display{
    display: flex;
    width: auto;
    height: 32vw;
    min-height: 800px;
    max-height: 960px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    position: relative;
    overflow-x: overlay;

}
/* cards */
.card{
    width: 10vw;
    height: 16vw;
    min-width: 250px;
    min-height: 400px;
    max-width: 300px;
    max-height: 480px;
    padding: 10px;
    background-color: #1b1b1b;
    color: white;
    cursor: pointer;
}
.movie-preview{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.poster{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.movie-description{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
    background-color: rgba(0,0,0,0.7);
    font-size: 12px;
}
.card:hover .movie-description{
    opacity: 1;
}
.strong{
    color: gold;
}
.flag{
    display: block;
    height: 30px;
}
.vote{
    color: gold;
}
.abstract{
    height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.show-more li{
    list-style: none;
}
.cast-genres{
    display: none;
}
.active{
    display: flex;
    justify-content: space-between;
}

